@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.426 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.92 0.0011 16);
    --chart-2: oklch(0.8 0.0018 286.36);
    --chart-3: oklch(0.66 0.0031 286.31);
    --chart-4: oklch(0.53 0.0033 286.29);
    --chart-5: oklch(0.38 0.0045 286.18);
    --chat--input--text-color: #000 ;
    --chat--input--background: #ffffff ;
    --chat--toggle--background: #0474B5 ;
	  --chat--toggle--hover--background: #036197 ;
	  --chat--toggle--active--background: #0474B5 ;
  }

  .dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.92 0.0011 16);
    --chart-2: oklch(0.8 0.0018 286.36);
    --chart-3: oklch(0.66 0.0031 286.31);
    --chart-4: oklch(0.53 0.0033 286.29);
    --chart-5: oklch(0.38 0.0045 286.18);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply antialiased;
    @apply bg-background text-foreground;
  }
}

@media (max-width: 1023px) {
  .chat-window-toggle {
    margin-bottom: 55px ;
    bottom: 55px ;
    z-index: 99;
  }
  .chat-window-wrapper{
    z-index: 99;
  }
}

@keyframes drawerSlideUp {
  from {
    transform: translate(-50%, 40px);
    opacity: 0;
  }
  to {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}